* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
    background-color: black;
}

/* Navbar */
#nav {
    /* padding: 10px; */
    display: flex;
    background-color: blueviolet;
    height: 75px;
}

.nav-gap {
    margin: 10px 0;
}

/* Logo nav */
.logo {
    width: 13%;
    height: 100%;
    display: inline-block;
}

#logo {
    width: 120px;
    height: 55px;
    margin: 0 auto;
    display: block;
}

/* All hr in nav */
#nav hr {
    height: 75px;
    display: inline-block;
    border: none;
    border-left: 2px solid green;
}

/* Links */
.links {
    padding-left: 2.5%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.links a, .links li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

/* Navlinks */
#navigation {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Socials */
#socials {
    width: 35%;
    background-color: blue;
}

.social-link {
    padding: 10px;
    border-radius: 20px;
    height: fit-content;
    line-height: 55px;
    background-color: rgb(188, 188, 195);
}

.icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*
#cntme{
    background-color: blue;
    padding: 15px;
    width: 120px;
    border-radius: 10px;
} */