@use "variables" as v;
@use "../mixins" as mx;

@mixin headingTwo($weight: null) {
    font-size: v.$fontSize-x-lg;
	line-height: v.$lineHeight-xxx-lg;
	letter-spacing: v.$letterSpacing;

    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.Tablet {
        font-size: v.$fontSize-xxx-big;
	    line-height: v.$lineHeight-x-lg;
	}

    @include mx.Mobile {
        font-size: v.$fontSize-xx-big;
	    line-height: v.$lineHeight-lg;
	    letter-spacing: 0;
	}
}

@mixin headingThree($weight: null) {
    font-size: v.$fontSize-lg;
	line-height: v.$lineHeight-xx-lg;
	letter-spacing: v.$letterSpacing;
    
    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.Tablet {
        font-size: v.$fontSize-xxx-big;
	    line-height: v.$lineHeight-x-lg;
	}

    @include mx.Mobile {
        font-size: v.$fontSize-xx-big;
	    line-height: v.$lineHeight-lg;
	}
}

@mixin headingFour($weight: null) {
    font-size: v.$fontSize-xx-big;
	line-height: v.$lineHeight-lg;
	letter-spacing: v.$letterSpacing;
    
    @if $weight != null {
        font-weight: $weight;
    }
}

@mixin headingSix($weight: null) {
    font-size: v.$fontSize-x-big;
	line-height: v.$lineHeight-xxx-big;
	letter-spacing: v.$letterSpacing;

    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.Mobile {
        font-size: v.$fontSize-big;
	    line-height: v.$lineHeight-xx-big;
	}
}