@use "variables" as v;
@use "../mixins" as mx;

@mixin headingTwo($weight: null) {
    font-size: v.$fontSize-x-lg;
	line-height: v.$lineHeight-xxx-lg;
	letter-spacing: - calc(v.$fontSize-x-lg * 0.02);

    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.MobilePortrait {
        font-size: v.$fontSize-lg;
	    line-height: v.$lineHeight-xx-lg;
        letter-spacing: - calc(v.$fontSize-lg * 0.02);
	}
}

@mixin headingThree($weight: null) {
    font-size: v.$fontSize-lg;
	line-height: v.$lineHeight-xx-lg;
    letter-spacing: - calc(v.$fontSize-lg * 0.02);
    
    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.MobilePortrait {
        font-size: v.$fontSize-xxx-big;
	    line-height: v.$lineHeight-x-lg;
        letter-spacing: - calc(v.$fontSize-xxx-big * 0.02);
	}
}

@mixin headingFour($weight: null) {
    font-size: v.$fontSize-xxx-big;
	line-height: v.$lineHeight-x-lg;
	letter-spacing: - calc(v.$fontSize-xxx-big * 0.02);
    
    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.MobilePortrait {
        font-size: v.$fontSize-xx-big;
	    line-height: v.$lineHeight-lg;
        letter-spacing: 0;
	}
}

@mixin headingSix($weight: null) {
    font-size: v.$fontSize-x-big;
	line-height: v.$lineHeight-xxx-big;
	letter-spacing: - calc(v.$fontSize-x-big * 0.02);

    @if $weight != null {
        font-weight: $weight;
    }

    @include mx.MobilePortrait {
        font-size: v.$fontSize-big;
	    line-height: v.$lineHeight-xx-big;
        letter-spacing: 0;
	}
}