@use "variables" as v;
@use "../mixins" as mx;

@mixin Label($weight: null) {
    font-size: v.$fontSize-sm;
    line-height: v.$lineHeight-md;
    font-weight: v.$fontWeight-M;
    
    @if $weight != null {
        font-weight: $weight;
    }
}