@use "variables" as v;
@use "../mixins" as mx;

@mixin normalText($weight: null) {
    font-size: v.$fontSize-md;
	line-height: v.$lineHeight-x-big;
    
    @if $weight != null {
        font-weight: $weight;
    }
    
    @include mx.MobilePortrait {
        font-size: v.$fontSize-sm;
        line-height: v.$lineHeight-x-big;
    }
}