$h2-fontSize: 36px;
$h2-fontWeight-SB: 600;
$h2-fontLineHeight: 44px;
$h2-letterSpacing: -2%;

$p1-fontSize: 16px;
$p1-fontLineHeight: 18px;

$neutral-300: #D1D5DB;
$neutral-400: #9CA3AF;
$neutral-500: #6B7280;