$p1-fontSize: 16px;
$p1-fontLineHeight: 18px;

$neutral-100: #F3F4F6;
$neutral-300: #D1D5DB;
$neutral-400: #9CA3AF;
$neutral-500: #6B7280;
$neutral-700: #374151;
$neutral-900: #111827;

// GREEN (SUCCESS)
$success-100: #DCFCE7;
$success-300: #86EFAC;
$success-500: #22C55E;
$success-700: #15803D;
$success-900: #14532D;

// BUTTON COLORS
$BtnBgColor: #4391ff;
$BtnHover: #216dd9;
$BtnTextColor: #fff;

// FONT SIZES
$fontSize-xx-sm: 10px;
$fontSize-x-sm: 12px;
$fontSize-sm: 14px;
$fontSize-md: 16px;
$fontSize-big: 18px;
$fontSize-x-big: 20px;
$fontSize-xx-big: 24px;
$fontSize-xxx-big: 28px;
$fontSize-lg: 32px;
$fontSize-x-lg: 36px;
$fontSize-xx-lg: 40px;

// LINE HEIGHT
$lineHeight-sm: 14px;
$lineHeight-md: 16px;
$lineHeight-big: 18px;
$lineHeight-x-big: 20px;
$lineHeight-xx-big: 24px;
$lineHeight-xxx-big: 28px;
$lineHeight-lg: 32px;
$lineHeight-x-lg: 36px;
$lineHeight-xx-lg: 40px;
$lineHeight-xxx-lg: 44px;
$lineHeight-huge: 48px;

// FONT WEIGHT
$fontWeight-N: 400;
$fontWeight-M: 500;
$fontWeight-SB: 600;
$fontWeight-B: 700;
$fontWeight-EB: 800;

// FONT WEIGHT
$letterSpacing: -2%;

// SPACING
$spacing-xx-sm: 4px;
$spacing-x-sm: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-big: 20px;
$spacing-x-big: 24px;
$spacing-xx-big: 28px;
$spacing-xxx-big: 32px;
$spacing-lg: 40px;
$spacing-x-lg: 48px;
$spacing-xx-lg: 64px;
$spacing-xxx-lg: 80px;
$spacing-huge: 96px;

// BORDER RADIUS
$radius-xx-sm: 4px;
$radius-x-sm: 8px;
$radius-sm: 12px;
$radius-md: 16px;
$radius-big: 20px;
$radius-x-big: 24px;
$radius-xx-big: 28px;
$radius-round: 100%;


// BREAKPOINTS
$mobile: 480px;
$tablet: 1024px;
$laptop: 1440px;