@use "./scss/abstracts/variables"as v;
@use "./scss/navbar" as nav;
@use "./scss/abstracts/Headings" as head;
@use "./scss/abstracts/Paragraphs" as text;

*,
*::after,
*::before {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	font-family: 'Ubuntu', sans-serif;
  	text-decoration: none;
  	list-style: none;
}

html {
  	scroll-behavior: smooth;
}

body {
  	background-color: #e3e9f7;
  	// background-color: #bbd1d8;
}

img {
  	display: block;
}

.occupation {
  	color: #420b5e;
  	font-weight: bold;
}

h2 {

	@include head.headingTwo(v.$fontWeight-B);
}
h3 {

	@include head.headingThree(v.$fontWeight-B);
}
h4 {

	@include head.headingFour(v.$fontWeight-B);
}
h6 {

	@include head.headingSix(v.$fontWeight-B);
}

p {
	@include text.normalText();
}

header {
  	height: 70px;
  	display: flex;
  	justify-content: center;
  	align-items: center;

  	// Navbar
  	@include nav.Navbar();
}

main {
  	.introduction {
		max-width: 710px;
		padding: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 2px solid v.$neutral-300;
		border-radius: 16px;

		.profile {
			width: fit-content;
			height: auto;
			display: flex;
			gap: 20px;

			&__pic {
				width: 100px;
				height: 100px;
				border-radius: 100%;
				object-fit: cover;
			}

			&__text {
				width: fit-content;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 4px;

				p {
					color: v.$neutral-500;
					font-weight: v.$fontWeight-M;
				}
			}
		}

		.socials {
			width: fit-content;
			display: flex;
			gap: 16px;
			
			&__icons {
				width: 32px;
				height: 32px;
			}
		}
  	}

	
}