@use "./scss/abstracts/variables"as v;
@use "./scss/abstracts/Headings" as head;
@use "./scss/abstracts/Paragraphs" as text;
@use "./scss/Buttons" as btn;
@use "./scss/Projects" as pro;
@use "./scss/mixins" as mx;

*,
*::after,
*::before {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	font-family: 'Ubuntu', sans-serif;
  	text-decoration: none;
  	list-style: none;
}

html {
  	scroll-behavior: smooth;
}

body {
	display: grid;
	grid-template-rows: v.$spacing-x-lg [content-start] auto [content-end] v.$spacing-xxx-lg;
	grid-template-columns: repeat(3, 1fr) [content-start] repeat(6, 1fr) [content-end] repeat(3, 1fr);
	gap: v.$spacing-big;
  	background-color: #e3e9f7;
  	// background-color: rgb(82, 82, 82);
  	// background-color: #bbd1d8;

}

#root {
	grid-column: content;
	grid-row: content;
}

img {
  	display: block;
}

h2 {
	@include head.headingTwo(v.$fontWeight-B);
}
h3 {
	@include head.headingThree(v.$fontWeight-B);
}
h4 {
	@include head.headingFour(v.$fontWeight-B);
}
h6 {
	@include head.headingSix(v.$fontWeight-B);
}

p {
	@include text.normalText();
}

main {
	display: flex;
	flex-direction: column;
	gap: v.$spacing-huge;

  	.introduction {
		max-width: 710px;
		padding: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 2px solid v.$neutral-300;
		border-radius: 16px;

		.profile {
			width: fit-content;
			height: auto;
			display: flex;
			gap: 20px;

			&__pic {
				width: 100px;
				height: 100px;
				border-radius: 100%;
				object-fit: cover;
			}

			&__text {
				width: fit-content;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 4px;

				p {
					color: v.$neutral-500;
					font-weight: v.$fontWeight-M;
				}
			}
		}

		.socials {
			width: fit-content;
			display: flex;
			gap: 16px;
			
			&__icons {
				width: 32px;
				height: 32px;
			}
		}
  	}

	.about {
		max-width: 710px;
		padding: v.$spacing-md;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: v.$spacing-xxx-big;
		border-radius: v.$radius-sm;
		box-shadow: 0 6px 15px -2px #10182814;
		background-color: #fff;

		&__text {
			display: flex;
			flex-direction: column;
			gap: v.$spacing-x-sm;
		}
	}

	.projectsSection {
		display: flex;
		flex-direction: column;
		gap: v.$spacing-xx-big;

		.projects {
			@include pro.ProjectListWrapper();
		}
	}
}

.primaryButton {
	@include btn.PrimaryButton();
}

.linkBtn {
	@include btn.LinkButton();
}

.sectionTitle {
	@include mx.SectionTitle();
}

.project-card {
	@include pro.ProjectCard();
}