@use "./scss/abstracts/variables"as v;
@use "./scss/navbar"as nav;
@use "./scss/hero"as hero;
@use "./scss/about"as about;
@use "./scss/mytechnologies"as skillset;
@use "./scss/projects"as projects;
@use "./scss/footer"as footer;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e3e9f7;
  // background-color: #bbd1d8;
}

img {
  display: block;
}

.occupation {
  color: #420b5e;
  font-weight: bold;
}

header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  // Navbar
  @include nav.Navbar();
}

main {
  @include hero.Hero();
  @include about.About(v.$mainBgC);
  @include skillset.MyTechnologies();
  @include projects.Projects();
}

.footer {
  @include footer.Footer();
}