@use "./abstracts/variables"as v;
@use "./mixins"as mx;

@mixin About() {
    .info {
        @include mx.Wrapper(45%, v.$mainBgC);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

        animation: fadeLeft 2s;

        span {
            font-size: 1.2rem;
            font-weight: 600;
            word-spacing: .12rem;
            text-transform: uppercase;
            color: #2E5E60;

            @media screen and (max-width: 620px) {
                font-size: 1rem;
            }
        }

        &__title {
            margin-bottom: 16px;
            @include mx.Title();
        }

        &__text {
            font-size: .95rem;
        }

        .resume {
            display: flex;
            justify-content: center;

            @include mx.ResumeButton();
        }
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
    }
}