@use "./abstracts/variables" as v;
@use "./abstracts/Paragraphs" as text;

@mixin PrimaryButton() {
    width: fit-content;
    min-height: 52px;
    padding: 0 v.$spacing-x-big;

    // FOR ICONS AND TEXT
    display: flex;
    align-items: center;
    gap: v.$spacing-x-sm;

    border-radius: v.$radius-sm;

    @include text.normalText(v.$fontWeight-SB);
    color: #fff;
    background-color: #4391ff;

    .icons {
        scale: 1.2;
    }

    &:hover {
        background-color: #216dd9;
    }

    // EXIST BECAUSE OF COLOR OF TEXT NOT CHANGING
    a {
        // Inherit color from mixin
        color: inherit;
    }
}

@mixin LinkButton() {
    width: fit-content;
    height: 42px;
    padding: 0 v.$spacing-x-big;

    border-radius: v.$radius-sm;

    @include text.normalText(v.$fontWeight-SB);
    color: #4391ff;
    background-color: #fff;

    &:hover {
        text-decoration: underline;
        background-color: #216dd9;
    }
}