@use "./abstracts/variables"as v;

@mixin Contact() {
    .contact {
        height: fit-content;
        width: fit-content;
        margin: 0 auto 150px;
        padding: 1.25rem;
        border-radius: .6rem;
        background-color: v.$mainBgC;

        &__title {
            font-size: 1.8rem;
        }

        &__info {
            margin-top: 1.4rem;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;

            p {
                display: flex;
                gap: 2rem;
            }

            span {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1.2rem;
            }
        }

        &__socials {
            margin-top: 1.2rem;
            display: flex;
            gap: 1.3rem;
        }

        &-icon {
            width: 2.5rem;
        }
    }
}