@use "./abstracts/variables"as v;

@mixin Contact() {
    .contact {
        height: fit-content;
        width: 700px;
        margin: 0 auto 150px;
        padding: 20px;
        border-radius: 10px;
        background-color: v.$mainBgC;

        &__title {
            font-size: 1.8rem;
        }

        &__socials {}
    }
}