@use "./abstracts/variables"as v;
@use "./mixins"as mx;

@mixin Contact() {
    .contact {
        @include mx.Wrapper(fit-content, v.$mainBgC);

        animation: fadeRight 2s;

        &__title {
            @include mx.Title();
        }

        &__info {
            margin-top: 1.4rem;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;

            div {
                display: flex;
                align-items: center;
                gap: 1.2rem;
            }
        }

        &__socials {
            margin-top: 1.2rem;
            display: flex;
            gap: 1.3rem;
        }

        &-icon {
            width: 2.5rem;
        }
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 1;
    }
}