@mixin Hero() {
    .hero {
        height: 70vh;
        padding: 16px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;

            &__text {
                width: 468px;

                &--greeting {
                    font-size: 3rem;
                    color: #212526;

                    // @media screen and (max-width: 1165px) {
                    //     font-size: 1.4rem;
                    // }
                }

                &--sentence {
                    margin-top: 16px;
                    font-size: 1.3rem;
                    color: #4e4e4e;

                    // @media screen and (max-width: 1165px) {
                    //     font-size: 1rem;
                    // }

                    // @media screen and (max-width: 620px) {
                    //     margin-top: 4px;
                    // }
                }

                // @media screen and (max-width: 1060px) {
                //     display: flex;
                //     flex-direction: column;
                //     justify-content: center;
                // }
            }

            &__pic {
                width: 350px;
                height: 500px;
                border-radius: 50px;
                object-fit: cover;
                // img {

                // @media screen and (max-width: 1060px) {
                //     width: 100%;
                //     height: 100%;
                // }
                // }

                // @media screen and (max-width: 620px) {
                //     width: 100%;
                //     height: 450px;
                // }
            }

            // @media screen and (max-width: 1060px) {
            //     padding-top: 32px;
            //     flex-direction: column;
            //     gap: 32px;
            // }
        }

        // @media screen and (max-width: 620px) {
        //     height: calc(100vh - 50px);
        //     padding-top: 0;
        // }
    }
}