@mixin Hero() {
    .hero {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;

            &__text {
                width: 468px;

                &--greeting {
                    font-size: 3rem;
                    color: #212526;

                    @media screen and (max-width: 1000px) {
                        font-size: 2.3rem;
                    }

                    @media screen and (max-width: 520px) {
                        text-align: center;
                        font-size: 1.8rem;
                    }
                }

                &--sentence {
                    margin-top: 16px;
                    font-size: 1.3rem;
                    color: #4e4e4e;

                    @media screen and (max-width: 1000px) {
                        margin-top: 8px;
                        font-size: 1rem;
                    }

                    @media screen and (max-width: 520px) {
                        text-align: center;
                    }
                }

                @media screen and (max-width: 1000px) {
                    width: 350px;
                }

                @media screen and (max-width: 520px) {
                    width: 60%;
                }
            }

            &__pic {
                width: 350px;
                height: 500px;
                border-radius: 50px;
                object-fit: cover;

                @media screen and (max-width: 1000px) {
                    width: 250px;
                    height: 400px;
                }

                @media screen and (max-width: 740px) {
                    width: 200px;
                    height: 350px;
                }

                @media screen and (max-width: 520px) {
                    width: 200px;
                    height: 250px;
                    border-radius: 30px;
                }
            }

            @media screen and (max-width: 1000px) {
                gap: 40px;
            }

            @media screen and (max-width: 740px) {
                width: 100%;
                gap: 30px;
            }

            @media screen and (max-width: 520px) {
                flex-direction: column;
                gap: 20px;
            }
        }

        @media screen and (max-width: 520px) {
            height: 50vh;
        }
    }
}