@use "./abstracts/variables" as v;
@use "./abstracts/Headings" as head;

@mixin SectionTitle() {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-sm;

    hr {
        border-top: none;
        border-width: 2px;
        border-color: v.$neutral-300;
    }
}