@mixin MyTechnologies() {
    .skills {
        margin: 64px 0;
        padding: 16px;

        &__title {
            text-align: center;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                word-spacing: .12rem;
                color: #082425;

                @media screen and (max-width: 620px) {
                    font-size: 1.8rem;
                }
            }
        }

        &__list {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            gap: 16px;
        }

        .skill {
            width: 80px;
            height: 80px;
            padding: 8px;
            border: 1px solid #013955;
            border-radius: 4px;

            &__image {
                width: 100%;
            }
        }

        // @media screen and (max-width: 620px) {
        //     margin: 32px 0;
        //     padding: 0 16px;
        // }
    }
}