@mixin MyTechnologies() {
    .skills {
        margin: 64px 0;
        padding: 16px 0;

        &__title {
            text-align: center;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                word-spacing: .12rem;
                color: #082425;

                @media screen and (max-width: 620px) {
                    font-size: 1.8rem;
                }
            }
        }

        &__list {
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
        }

        .skill {
            width: 80px;
            height: 80px;
            padding: 8px;
            position: relative;
            border: 1px solid #013955;
            border-radius: 4px;
            animation-name: hoverUpDown;
            animation-iteration-count: infinite;
            animation-duration: 4s;
            animation-timing-function: linear;

            &__image {
                width: 100%;
            }

            &__desc {
                padding: 4px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -40px;
                border-radius: 4px;
                text-align: center;
                font-size: .8rem;
                color: #e5e5e5;
                background-color: #151f20;
                visibility: hidden;
                opacity: 0;

                &::before {
                    content: '';
                    margin: 0 auto;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #151f20;
                }
            }

            &:hover .skill__desc {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@keyframes hoverUpDown {
    0% {
        transform: translateY(-25%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-25%);
    }
}