@use "./abstracts/variables"as v;

@mixin Navbar() {
    .nav {
        margin-top: 14px;
        padding: 4px;
        position: fixed;
        border-radius: 100px;
        box-shadow: 0px 3px 10px rgb(207, 207, 207);
        background-color: v.$mainBgC;
        z-index: 10;


        .navLinks {
            display: flex;
            gap: 16px;
            list-style: none;

            &__item {
                padding: 8px 18px;
                border-radius: 100px;
                transition: all .2s ease-in-out;

                a {
                    font-weight: 600;
                    color: #212526;
                }
            }
        }

        .active {
            border-radius: 100px;
            // color: #e7e7e7; DARK MODE
            // background-color: #292929; DARK MODE
            background-color: #e6e6e6;
        }
    }
}