@use "./abstracts/variables" as v;
@use "./Tags" as tag;
@use "mixins" as mx;

@mixin ProjectListWrapper() {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-big;
}

@mixin ProjectCard() {
    max-width: 710px;
    height: 200px;
    display: flex;
    gap: v.$spacing-md;

    .project-card__img {
        width: 250px;
        border-radius: v.$radius-sm;
        object-fit: cover;

        @media screen and (max-width: 630px) {
            width: 76px;
        }
    }

    .project-card__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: v.$spacing-x-sm;
    }

    .project-card__info {
        height: 100%;
        padding: v.$spacing-sm;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: v.$radius-sm;
        background-color: #fff;
    }

    .project-card__text {
        display: flex;
        flex-direction: column;
        gap: v.$spacing-xx-sm;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;

            @include mx.Mobile {
                font-size: v.$fontSize-sm;
                line-height: v.$lineHeight-x-big;
                font-weight: v.$fontWeight-N;
            }
        }
    }

    .project-card__tech {
        display: flex;
        gap: v.$spacing-x-sm;
    }

    .tag {
        @include tag.Tag();
    }

    @include mx.Mobile {
        height: fit-content;
        flex-direction: column;
    }
}