@use "./abstracts/variables" as v;
@use "./mixins" as mx;
@use "./Tags" as tag;

@mixin ProjectListWrapper() {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-x-big;
}

@mixin ProjectCard() {
    max-width: 710px;
    height: 200px;
    display: flex;
    gap: v.$spacing-md;

    .project-card__img {
        width: 250px;
        border-radius: v.$radius-sm;
    }

    .project-card__details {
        display: flex;
        flex-direction: column;
        gap: v.$spacing-x-sm;
    }

    .project-card__info {
        height: 100%;
        padding: v.$spacing-xx-sm v.$spacing-x-sm v.$spacing-sm;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: v.$radius-sm;
        background-color: #fff;
    }

    .project-card__text {
        display: flex;
        flex-direction: column;
        gap: v.$spacing-xx-sm;

        p {
            font-size: v.$fontSize-sm;
            line-height: v.$lineHeight-x-big;
            font-weight: v.$fontWeight-N;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-wrap: break-word;
            text-overflow: ellipsis;
        }
    }

    .project-card__tech {
        display: flex;
        gap: v.$spacing-x-sm;
    }

    .tag {
        @include tag.Tag();
    }
}




// @mixin Projects() {
//     .projects {
//         margin-bottom: 64px;

//         &__title {
//             @include mx.Title();

//             margin-top: 64px;
//             font-weight: 600;
//             text-align: center;
//             word-spacing: .12rem;
//             color: #082425;
//         }

//         hr {
//             max-width: 880px;
//             margin: 8px auto 16px;
//             border: 1px solid #C6C6C6;

//             @media screen and (max-width: 956px) {
//                 width: 75%;
//             }
//         }

//         &__wrapper {
//             width: fit-content;
//             margin: 0 auto;
//             padding: 0 16px;
//             display: flex;
//             flex-direction: column;
//             gap: 32px;

//             .card {
//                 @include ProjectCard();
//             }
//         }
//     }
// }
