@mixin Skillset() {
    .skills {
        margin: 64px 0;
        padding: 16px;

        &__title {
            text-align: center;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                word-spacing: .12rem;
                color: #1ac6cc;

                @media screen and (max-width: 620px) {
                    font-size: 1.8rem;
                }
            }
        }

        &__list {
            margin-top: 32px;
            display: flex;
            justify-content: center;

            ul {
                display: grid;
                grid-auto-flow: column;
                grid-template-rows: repeat(6, 1fr);
                gap: 20px;
                list-style-position: inside;

                li {
                    margin: 0 8px;
                    font-size: 1.4rem;
                    color: #000000;

                    @media screen and (max-width: 620px) {
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 620px) {
            margin: 32px 0;
            padding: 0 16px;
        }
    }
}