@use "abstracts/variables" as v;
@use "mixins" as mx;

.IntroCardContainer {
    max-width: 710px;
    padding: v.$spacing-x-big;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid v.$neutral-300;
    border-radius: 16px;

    @include mx.MobilePortrait {
        padding: v.$spacing-sm;
        flex-direction: column;
        gap: v.$spacing-sm;
	}
}

.ProfileContainer {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    gap: v.$spacing-big;

    @include mx.MobilePortrait {
        gap: v.$spacing-sm;
	}
}

.ProfilePic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;

    @include mx.Tablet {
        width: 88px;
        height: 88px;
	}

    @include mx.MobilePortrait {
        width: 76px;
        height: 76px;
	}
}

.ProfileTitle {
    margin-bottom: v.$spacing-xx-sm;
}

.ProfileSentence {
    color: v.$neutral-500;
    font-weight: v.$fontWeight-M;
}

.Socials {
    display: flex;
    gap: 16px;
}

.SocialsIcons {
    width: 32px;
    height: 32px;
}