@use "./abstracts/variables" as v;
@use "mixins" as mx;

.ProjectDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;

    @include mx.MobilePortrait {
        font-size: v.$fontSize-sm;
        line-height: v.$lineHeight-x-big;
        font-weight: v.$fontWeight-N;
    }
}