@use "abstracts/variables" as v;

.SectionTitle {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-xx-sm;

    hr {
        border-top: none;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: v.$neutral-300;
    }
}