@use "./abstracts/variables" as v;

.TagsContainer {
    display: flex;
    gap: v.$spacing-x-sm;
    overflow: hidden;
}

.TagBox {
    width: fit-content;
    height: 22px;
    padding: v.$spacing-xx-sm v.$spacing-x-sm;
    border-radius: v.$radius-xx-sm;
    text-transform: capitalize;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #2D4553;
}